.dash {
    position: relative;
    width: 50vw;
    height: 100vh;
    background-color: #77BFF4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.new-house {
    width: 150px;
    height: 30px;
    border: none;
    background-color: #0087FD;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.new-house-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    width: 140px;
    height: 25px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.house-filter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 520px;
    height: 50px;
    margin-top: 30px;
}

.house-filter-container input {
    width: 70px;
    height: 20px;
    margin-left: -14px;
    border: none;
}

.filter {
    width: 60px;
    height: 25px;
    border: none;
    background-color: #0087FD;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10pt;
    margin-left: 10px;
}

.filter a {
    text-decoration: none;
    color: white;
}

.reset {
    width: 60px;
    height: 25px;
    border: none;
    background-color: #003159;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10pt;
}

.reset a {
    text-decoration: none;
    color: white;
}

.seperating-line {
    width: 45vw;
    border-bottom: solid 1px;
    margin-top: 15px;
}

.house-listings {
    width: 42vw;
}

.listings {
    width: 44vw;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: lightgray;
}

.farm-house {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.listings-info {
    width: 555px;
    height: 200px;
    line-height: 0.8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.listings-info div {
    width: 175px;
    height: 180px;
    padding-left: 5px;
}

.list-one {
    border-right: solid 1px;
}

.delete-x {
    position: relative;
    bottom: 85px;
    right: 10px;
    width: 13px;
    height: 15px;
}